tab-items {
    position: absolute;
    top: 48px;
    left: 0;
    z-index: 2;
    width: 100%;
}

tab-items .tabs {
    background-color: #ffffff00;
    display: flex;
    justify-content: center;
}

tab-items .tabs .tab {
    margin-left: 0 !important;
}

tab-items .tabs .tab a {
    color: white;
}

tab-items .tabs .tab a.active,
tab-items .tabs .tab a:hover {
    font-weight: bold;
    color: white;
    border-bottom: white 2px solid;
}